<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Фаза №3</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="p-4 text-center text-white" style="background-color: #800020;">
        <h1 class="fw-bold">Фаза №3 состоит из 11 фильмов</h1>
    </div>

    <section class="py-3">
        <div class="container">
            <div class="row g-3">
            <!--1-->
                <div class="col-md-6 col-lg-4">
                    <div class="card h-100">
                        <img
                                src="https://static.hdrezka.ac/i/2022/2/5/hc617b79c2d98xu75a22j.jpeg"
                                class="card-img-top"
                                alt="not found"
                        >
                        <div class="card-body">
                            <h4 class="card-title fw-bold">
                                Первый мститель: Противостояние (2016)
                            </h4>
                            <a href="https://hdrezka-home.tv/films/fiction/12251-pervyy-mstitel-protivostoyanie-2016.html" class="btn btn-outline-danger">
                                Смотреть
                            </a>
                        </div>
                    </div>
                </div>
            <!--2-->
                <div class="col-md-6 col-lg-4">
                    <div class="card h-100">
                        <img
                                src="https://static.hdrezka.ac/i/2026/8/25/a4e2a8df3cfb5ci18a97a.jpg"
                                class="card-img-top"
                                alt="not found"
                        >
                        <div class="card-body">
                            <h4 class="card-title fw-bold">
                                Доктор Стрэндж (2016)
                            </h4>
                            <a href="https://hdrezka-home.tv/films/fantasy/12891-doktor-strendzh-2016.html" class="btn btn-outline-danger">
                                Смотреть
                            </a>
                        </div>
                    </div>
                </div>
            <!--3-->
                <div class="col-md-6 col-lg-4">
                    <div class="card h-100">
                        <img
                                src="https://static.hdrezka.ac/i/2021/8/8/ud32dcae83151ma34c88y.jpg"
                                class="card-img-top"
                                alt="not found"
                        >
                        <div class="card-body">
                            <h4 class="card-title fw-bold">
                                Стражи галактики 2 (2017)
                            </h4>
                            <a href="https://hdrezka-home.tv/films/fiction/22867-strazhi-galaktiki-2-2017.html" class="btn btn-outline-danger">
                                Смотреть
                            </a>
                        </div>
                    </div>
                </div>
            <!--4-->
                <div class="col-md-6 col-lg-4">
                    <div class="card h-100">
                        <img
                                src="https://static.hdrezka.ac/i/2025/11/21/k5ad6e6b20350iv95d41b.jpg"
                                class="card-img-top"
                                alt="not found"
                        >
                        <div class="card-body">
                            <h4 class="card-title fw-bold">
                                Человек-паук: Возвращение домой (2017)
                            </h4>
                            <a href="https://hdrezka-home.tv/films/fiction/23757-chelovek-pauk-vozvraschenie-domoy-2017.html" class="btn btn-outline-danger">
                                Смотреть
                            </a>
                        </div>
                    </div>
                </div>
            <!--5-->
                <div class="col-md-6 col-lg-4">
                    <div class="card h-100">
                        <img
                                src="https://static.hdrezka.ac/i/2022/4/20/ma3365bbd66a9gn90u16f.jpg"
                                class="card-img-top"
                                alt="not found"
                        >
                        <div class="card-body">
                            <h4 class="card-title fw-bold">
                                Тор 3: Рагнарёк (2017)
                            </h4>
                            <a href="https://hdrezka-home.tv/films/action/25923-tor-ragnarek-2017.html" class="btn btn-outline-danger">
                                Смотреть
                            </a>
                        </div>
                    </div>
                </div>
            <!--6-->
                <div class="col-md-6 col-lg-4">
                    <div class="card h-100">
                        <img
                                src="https://static.hdrezka.ac/i/2021/10/20/t5de6416283e9ef58y63u.jpg"
                                class="card-img-top"
                                alt="not found"
                        >
                        <div class="card-body">
                            <h4 class="card-title fw-bold">
                                Чёрная Пантера (2018)
                            </h4>
                            <a href="https://hdrezka-home.tv/films/fiction/26605-chernaya-pantera-2018.html" class="btn btn-outline-danger">
                                Смотреть
                            </a>
                        </div>
                    </div>
                </div>
            <!--7-->
                <div class="col-md-6 col-lg-4">
                    <div class="card h-100">
                        <img
                                src="https://static.hdrezka.ac/i/2021/9/16/ac6ab1af9ec81yb86k95t.jpg"
                                class="card-img-top"
                                alt="not found"
                        >
                        <div class="card-body">
                            <h4 class="card-title fw-bold">
                                Мстители: Война бесконечности (2018)
                            </h4>
                            <a href="https://hdrezka-home.tv/films/fiction/27480-mstiteli-voyna-beskonechnosti-2018.html" class="btn btn-outline-danger">
                                Смотреть
                            </a>
                        </div>
                    </div>
                </div>
            <!--8-->
                <div class="col-md-6 col-lg-4">
                    <div class="card h-100">
                        <img
                                src="https://static.hdrezka.ac/i/2022/12/6/s9275aa00155cgq63l17c.jpg"
                                class="card-img-top"
                                alt="not found"
                        >
                        <div class="card-body">
                            <h4 class="card-title fw-bold">
                                Человек-муравей и Оса (2018)
                            </h4>
                            <a href="https://hdrezka-home.tv/films/action/28155-chelovek-muravey-i-osa-2018.html" class="btn btn-outline-danger">
                                Смотреть
                            </a>
                        </div>
                    </div>
                </div>
            <!--9-->
                <div class="col-md-6 col-lg-4">
                    <div class="card h-100">
                        <img
                                src="https://static.hdrezka.ac/i/2022/10/25/b2aba51060b44yx41w23c.jpg"
                                class="card-img-top"
                                alt="not found"
                        >
                        <div class="card-body">
                            <h4 class="card-title fw-bold">
                                Капитан Марвел (2019)
                            </h4>
                            <a href="https://hdrezka-home.tv/films/fiction/30219-kapitan-marvel-2019.html" class="btn btn-outline-danger">
                                Смотреть
                            </a>
                        </div>
                    </div>
                </div>
            <!--10-->
                <div class="col-md-6 col-lg-4">
                    <div class="card h-100">
                        <img
                                src="https://static.hdrezka.ac/i/2020/12/26/d1a80f3dac984uh36l68f.jpg"
                                class="card-img-top"
                                alt="not found"
                        >
                        <div class="card-body">
                            <h4 class="card-title fw-bold">
                                Мстители: Финал (2019)
                            </h4>
                            <a href="https://hdrezka-home.tv/films/fiction/30651-mstiteli-final-2019.html" class="btn btn-outline-danger">
                                Смотреть
                            </a>
                        </div>
                    </div>
                </div>
            <!--11-->
                <div class="col-md-6 col-lg-4">
                    <div class="card h-100">
                        <img
                                src="https://static.hdrezka.ac/i/2022/2/2/e1d13f6b20b6fub59n85l.jpg"
                                class="card-img-top"
                                alt="not found"
                        >
                        <div class="card-body">
                            <h4 class="card-title fw-bold">
                                Человек-паук: Вдали от дома (2019)
                            </h4>
                            <a href="https://hdrezka-home.tv/films/action/31377-chelovek-pauk-vdali-ot-doma-2019.html" class="btn btn-outline-danger">
                                Смотреть
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="p-4 text-center text-white" style="background-color: #800020;">
        <h3 class="fw-bold">Приятного просмотра!</h3>
    </div>
</body>
</html>