<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Фаза №4</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="p-4 text-center text-white" style="background-color: #800020;">
        <h1 class="fw-bold">Фаза №4 состоит из 18 фильмов, сериалов, мультсериалов</h1>
    </div>

    <section class="py-3">
        <div class="container">
            <div class="row g-3">
            <!--1-->
                <div class="col-md-6 col-lg-4">
                    <div class="card h-100">
                        <img
                                src="https://static.hdrezka.ac/i/2025/6/13/t62d1209e6c25vw55l95n.jpg"
                                class="card-img-top"
                                alt="not found"
                        >
                        <div class="card-body">
                            <h4 class="card-title fw-bold">
                                Ванда/Вижн (2021)
                            </h4>
                            <p>Сериал</p>
                            <a href="https://hdrezka-home.tv/series/drama/35798-vanda-2021-latest.html" class="btn btn-outline-danger">
                                Смотреть
                            </a>
                        </div>
                    </div>
                </div>
            <!--2-->
                <div class="col-md-6 col-lg-4">
                    <div class="card h-100">
                        <img
                                src="https://static.hdrezka.ac/i/2021/3/19/y19b9686ac96fdz60x28z.jpg"
                                class="card-img-top"
                                alt="not found"
                        >
                        <div class="card-body">
                            <h4 class="card-title fw-bold">
                                Сокол и Зимний солдат (2021)
                            </h4>
                            <p>Сериал</p>
                            <a href="https://hdrezka-home.tv/series/drama/36520-sokol-i-zimniy-soldat-2021-latest.html" class="btn btn-outline-danger">
                                Смотреть
                            </a>
                        </div>
                    </div>
                </div>
            <!--3-->
                <div class="col-md-6 col-lg-4">
                    <div class="card h-100">
                        <img
                                src="https://static.hdrezka.ac/i/2021/5/14/lbf636621e4b5uz57s54v.jpg"
                                class="card-img-top"
                                alt="not found"
                        >
                        <div class="card-body">
                            <h4 class="card-title fw-bold">
                                Локи (2021)
                            </h4>
                            <p>Сериал</p>
                            <a href="https://hdrezka-home.tv/series/fiction/38198-loki-2021-latest.html" class="btn btn-outline-danger">
                                Смотреть
                            </a>
                        </div>
                    </div>
                </div>
            <!--4-->
                <div class="col-md-6 col-lg-4">
                    <div class="card h-100">
                        <img
                                src="https://static.hdrezka.ac/i/2021/6/6/xb49dc37109e8ya64h33o.jpg"
                                class="card-img-top"
                                alt="not found"
                        >
                        <div class="card-body">
                            <h4 class="card-title fw-bold">
                                Чёрная Вдова (2021)
                            </h4>
                            <p>Фильм</p>
                            <a href="https://hdrezka-home.tv/films/action/39774-chernaya-vdova-2021-latest.html" class="btn btn-outline-danger">
                                Смотреть
                            </a>
                        </div>
                    </div>
                </div>
            <!--5-->
                <div class="col-md-6 col-lg-4">
                    <div class="card h-100">
                        <img
                                src="https://static.hdrezka.ac/i/2021/8/1/a5db28e47880dqq89z36i.jpg"
                                class="card-img-top"
                                alt="not found"
                        >
                        <div class="card-body">
                            <h4 class="card-title fw-bold">
                                Что, если...? (2021)
                            </h4>
                            <p>Мультсериал</p>
                            <a href="https://hdrezka-home.tv/cartoons/fantasy/40418-chto-esli-2021-latest.html" class="btn btn-outline-danger">
                                Смотреть
                            </a>
                        </div>
                    </div>
                </div>
            <!--6-->
                <div class="col-md-6 col-lg-4">
                    <div class="card h-100">
                        <img
                                src="https://static.hdrezka.ac/i/2021/9/5/l532f044f82a0ud54j82f.jpg"
                                class="card-img-top"
                                alt="not found"
                        >
                        <div class="card-body">
                            <h4 class="card-title fw-bold">
                                Шан-Чи и легенда десяти колец (2021)
                            </h4>
                            <p>Фильм</p>
                            <a href="https://hdrezka-home.tv/films/action/41487-shan-chi-i-legenda-desyati-kolec-2021-latest.html" class="btn btn-outline-danger">
                                Смотреть
                            </a>
                        </div>
                    </div>
                </div>
            <!--7-->
                <div class="col-md-6 col-lg-4">
                    <div class="card h-100">
                        <img
                                src="https://static.hdrezka.ac/i/2022/1/6/l85378dfb1715zc71r52w.jpg"
                                class="card-img-top"
                                alt="not found"
                        >
                        <div class="card-body">
                            <h4 class="card-title fw-bold">
                                Вечные (2021)
                            </h4>
                            <p>Фильм</p>
                            <a href="https://hdrezka-home.tv/films/fiction/41484-vechnye-2021-latest.html" class="btn btn-outline-danger">
                                Смотреть
                            </a>
                        </div>
                    </div>
                </div>
            <!--8-->
                <div class="col-md-6 col-lg-4">
                    <div class="card h-100">
                        <img
                                src="https://static.hdrezka.ac/i/2021/12/24/yfb5fc5557225xu84z37x.jpg"
                                class="card-img-top"
                                alt="not found"
                        >
                        <div class="card-body">
                            <h4 class="card-title fw-bold">
                                Соколиный Глаз (2021)
                            </h4>
                            <p>Сериал</p>
                            <a href="https://hdrezka-home.tv/series/adventures/42084-sokolinyy-glaz-2021-latest.html" class="btn btn-outline-danger">
                                Смотреть
                            </a>
                        </div>
                    </div>
                </div>
            <!--9-->
                <div class="col-md-6 col-lg-4">
                    <div class="card h-100">
                        <img
                                src="https://static.hdrezka.ac/i/2022/3/14/cf91390df2b64sk81i26j.jpg"
                                class="card-img-top"
                                alt="not found"
                        >
                        <div class="card-body">
                            <h4 class="card-title fw-bold">
                                Человек-паук: Нет пути домой (2021)
                            </h4>
                            <p>Фильм</p>
                            <a href="https://hdrezka-home.tv/films/fiction/41486-chelovek-pauk-net-puti-domoy-2021.html" class="btn btn-outline-danger">
                                Смотреть
                            </a>
                        </div>
                    </div>
                </div>
            <!--10-->
                <div class="col-md-6 col-lg-4">
                    <div class="card h-100">
                        <img
                                src="https://static.hdrezka.ac/i/2022/5/6/u9e379969c5e9fx31q87y.jpg"
                                class="card-img-top"
                                alt="not found"
                        >
                        <div class="card-body">
                            <h4 class="card-title fw-bold">
                                Лунный рыцарь (2022)
                            </h4>
                            <p>Сериал</p>
                            <a href="https://hdrezka-home.tv/series/fantasy/46124-lunnyy-rycar-2022-latest.html" class="btn btn-outline-danger">
                                Смотреть
                            </a>
                        </div>
                    </div>
                </div>
            <!--11-->
                <div class="col-md-6 col-lg-4">
                    <div class="card h-100">
                        <img
                                src="https://static.hdrezka.ac/i/2022/2/18/wb3a698a92fdemp81t46s.jpg"
                                class="card-img-top"
                                alt="not found"
                        >
                        <div class="card-body">
                            <h4 class="card-title fw-bold">
                                Доктор Стрэндж: В мультивселенной безумия (2022)
                            </h4>
                            <p>Фильм</p>
                            <a href="https://hdrezka-home.tv/films/fiction/45231-doktor-strendzh-v-multivselennoy-bezumiya-2022.html" class="btn btn-outline-danger">
                                Смотреть
                            </a>
                        </div>
                    </div>
                </div>
            <!--12-->
                <div class="col-md-6 col-lg-4">
                    <div class="card h-100">
                        <img
                                src="https://static.hdrezka.ac/i/2022/6/12/i15732ea30832pb92k43j.jpg"
                                class="card-img-top"
                                alt="not found"
                        >
                        <div class="card-body">
                            <h4 class="card-title fw-bold">
                                Мисс Марвел (2022)
                            </h4>
                            <p>Сериал</p>
                            <a href="https://hdrezka-home.tv/series/adventures/47875-miss-marvel-2022.html" class="btn btn-outline-danger">
                                Смотреть
                            </a>
                        </div>
                    </div>
                </div>
            <!--13-->
                <div class="col-md-6 col-lg-4">
                    <div class="card h-100">
                        <img
                                src="https://static.hdrezka.ac/i/2022/9/10/v23a6642e7886qe91v42i.jpg"
                                class="card-img-top"
                                alt="not found"
                        >
                        <div class="card-body">
                            <h4 class="card-title fw-bold">
                                Тор 4: Любовь и Гром (2022)
                            </h4>
                            <p>Фильм</p>
                            <a href="https://hdrezka-home.tv/films/fantasy/48332-tor-lyubov-i-grom-2022-latest.html" class="btn btn-outline-danger">
                                Смотреть
                            </a>
                        </div>
                    </div>
                </div>
            <!--14-->
                <div class="col-md-6 col-lg-4">
                    <div class="card h-100">
                        <img
                                src="https://static.hdrezka.ac/i/2022/7/24/y6a93d7031c62yu92c15e.jpg"
                                class="card-img-top"
                                alt="not found"
                        >
                        <div class="card-body">
                            <h4 class="card-title fw-bold">
                                Я есть Грут (2022)
                            </h4>
                            <p>Мультсериал</p>
                            <a href="https://hdrezka-home.tv/cartoons/fiction/50381-ya-est-grut-2022.html" class="btn btn-outline-danger">
                                Смотреть
                            </a>
                        </div>
                    </div>
                </div>
            <!--15-->
                <div class="col-md-6 col-lg-4">
                    <div class="card h-100">
                        <img
                                src="https://static.hdrezka.ac/i/2022/7/28/me7251d4f44f7rq60g70d.jpg"
                                class="card-img-top"
                                alt="not found"
                        >
                        <div class="card-body">
                            <h4 class="card-title fw-bold">
                                Женщина-Халк: Адвокат (2022)
                            </h4>
                            <p>Сериал</p>
                            <a href="https://hdrezka-home.tv/series/fiction/48935-zhenschina-halk-advokat-2022.html" class="btn btn-outline-danger">
                                Смотреть
                            </a>
                        </div>
                    </div>
                </div>
            <!--16-->
                <div class="col-md-6 col-lg-4">
                    <div class="card h-100">
                        <img
                                src="https://static.hdrezka.ac/i/2022/10/2/icafa12edc4bfiz83r91x.jpg"
                                class="card-img-top"
                                alt="not found"
                        >
                        <div class="card-body">
                            <h4 class="card-title fw-bold">
                                Ночной оборотень (2022)
                            </h4>
                            <p>Спецвыпуск</p>
                            <a href="https://hdrezka-home.tv/films/horror/51590-nochnoy-oboroten-2022.html" class="btn btn-outline-danger">
                                Смотреть
                            </a>
                        </div>
                    </div>
                </div>
            <!--17-->
                <div class="col-md-6 col-lg-4">
                    <div class="card h-100">
                        <img
                                src="https://static.hdrezka.ac/i/2022/11/9/lfc24adaa6bf9le85o65x.jpg"
                                class="card-img-top"
                                alt="not found"
                        >
                        <div class="card-body">
                            <h4 class="card-title fw-bold">
                                Чёрная Пантера: Ваканда навеки (2022)
                            </h4>
                            <p>Фильм</p>
                            <a href="https://hdrezka-home.tv/films/fiction/50385-chernaya-pantera-vakanda-naveki-2022.html" class="btn btn-outline-danger">
                                Смотреть
                            </a>
                        </div>
                    </div>
                </div>
            <!--18-->
                <div class="col-md-6 col-lg-4">
                    <div class="card h-100">
                        <img
                                src="https://static.hdrezka.ac/i/2022/11/26/ub884f0da41c4bp53d37l.jpg"
                                class="card-img-top"
                                alt="not found"
                        >
                        <div class="card-body">
                            <h4 class="card-title fw-bold">
                                Стражи галактики: Праздничный спецвыпуск (2022)
                            </h4>
                            <p>Спецвыпуск</p>
                            <a href="https://hdrezka-home.tv/films/adventures/52547-strazhi-galaktiki-prazdnichnyy-specvypusk-2022.html" class="btn btn-outline-danger">
                                Смотреть
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="p-4 text-center text-white" style="background-color: #800020;">
        <h3 class="fw-bold">Приятного просмотра!</h3>
    </div>
</body>
</html>