<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Фаза №1</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="p-4 text-center text-white" style="background-color: #800020;">
        <h1 class="fw-bold">Фаза №1 состоит из 6 фильмов</h1>
    </div>

    <section class="py-3">
        <div class="container">
            <div class="row g-3">
                {% for movie in movie1 %}
                    <div class="col-md-6 col-lg-4 mb-4">
                        <div class="card h-50">
                            {% if movie.image %}
                                <img
                                    src="{{ movie.image.url }}"
                                    class="card-img-top"
                                    alt="{{ movie.title }}"
                                >
                            {% endif %}
                            <div class="card-body">
                                <h4 class="card-title fw-bold">
                                    {{ movie.title }} ({{ movie.year }})
                                </h4>
                                <p class="card-text">
                                    {{ movie.description }}
                                </p>
                                {% if movie.video %}
                                    <button
                                        class="btn btn-outline-danger"
                                        type="button"
                                        data-bs-toggle="collapse"
                                        data-bs-target="#movieVideo{{ movie.id }}"
                                    >
                                        Смотреть
                                    </button>
                                    <div class="collapse mt-3" id="movieVideo{{ movie.id }}">
                                        <video controls class="w-100">
                                            <source src="{{ movie.video.url }}" type="video/mp4">
                                        </video>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
            {% endfor %}
            </div>
        </div>
    </section>

    <div class="p-4 text-center text-white" style="background-color: #800020;">
        <h3 class="fw-bold">Приятного просмотра!</h3>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>