<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Фаза №5</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="p-4 text-center text-white" style="background-color: #800020;">
        <h1 class="fw-bold">Фаза №5 состоит из 12 фильмов, сериалов, мультсериалов</h1>
    </div>

    <section class="py-3">
        <div class="container">
            <div class="row g-3">
            <!--1-->
                <div class="col-md-6 col-lg-4">
                    <div class="card h-100">
                        <img
                                src="https://static.hdrezka.ac/i/2023/1/18/y6e04528a82c2pr44o93o.jpg"
                                class="card-img-top"
                                alt="not found"
                        >
                        <div class="card-body">
                            <h4 class="card-title fw-bold">
                                Человек-муравей и Оса: Квантомания (2023)
                            </h4>
                            <a href="https://hdrezka-home.tv/films/action/52546-chelovek-muravey-i-osa-kvantomaniya-2023.html" class="btn btn-outline-danger">
                                Смотреть
                            </a>
                        </div>
                    </div>
                </div>
            <!--2-->
                <div class="col-md-6 col-lg-4">
                    <div class="card h-100">
                        <img
                                src="https://static.hdrezka.ac/i/2023/2/13/f805183d7a4b1oq54m45w.jpg"
                                class="card-img-top"
                                alt="not found"
                        >
                        <div class="card-body">
                            <h4 class="card-title fw-bold">
                                Стражи галактики 3 (2023)
                            </h4>
                            <a href="https://hdrezka-home.tv/films/fiction/53494-strazhi-galaktiki-chast-3-2023-latest.html" class="btn btn-outline-danger">
                                Смотреть
                            </a>
                        </div>
                    </div>
                </div>
            <!--3-->
                <div class="col-md-6 col-lg-4">
                    <div class="card h-100">
                        <img
                                src="https://static.hdrezka.ac/i/2023/6/8/p60ceb629657cdx72x46n.jpg"
                                class="card-img-top"
                                alt="not found"
                        >
                        <div class="card-body">
                            <h4 class="card-title fw-bold">
                                Секретное вторжение (2023)
                            </h4>
                            <a href="https://hdrezka-home.tv/series/fiction/56335-sekretnoe-vtorzhenie-disney-2023.html" class="btn btn-outline-danger">
                                Смотреть
                            </a>
                        </div>
                    </div>
                </div>
            <!--4-->
                <div class="col-md-6 col-lg-4">
                    <div class="card h-100">
                        <img
                                src="https://static.hdrezka.ac/i/2025/4/17/j866630b45e0euk82b99l.jpg"
                                class="card-img-top"
                                alt="not found"
                        >
                        <div class="card-body">
                            <h4 class="card-title fw-bold">
                                Марвелы / Капитан Марвел 2 (2023)
                            </h4>
                            <a href="https://hdrezka-home.tv/films/fantasy/59703-marvely-2023-latest.html" class="btn btn-outline-danger">
                                Смотреть
                            </a>
                        </div>
                    </div>
                </div>
            <!--5-->
                <div class="col-md-6 col-lg-4">
                    <div class="card h-100">
                        <img
                                src="https://static.hdrezka.ac/i/2024/1/13/j4bba9a8befb4ew55y84c.jpg"
                                class="card-img-top"
                                alt="not found"
                        >
                        <div class="card-body">
                            <h4 class="card-title fw-bold">
                                Эхо (2024)
                            </h4>
                            <a href="https://hdrezka-home.tv/series/fiction/65512-eho-2024.html" class="btn btn-outline-danger">
                                Смотреть
                            </a>
                        </div>
                    </div>
                </div>
            <!--6-->
                <div class="col-md-6 col-lg-4">
                    <div class="card h-100">
                        <img
                                src="https://static.hdrezka.ac/i/2024/10/1/wcc0cad3b0584zr82h94s.jpg"
                                class="card-img-top"
                                alt="not found"
                        >
                        <div class="card-body">
                            <h4 class="card-title fw-bold">
                                Дэдпул и Росомаха / Дэдпул 3 (2024)
                            </h4>
                            <a href="https://hdrezka-home.tv/films/action/67133-dedpul-i-rosomaha-2024.html" class="btn btn-outline-danger">
                                Смотреть
                            </a>
                        </div>
                    </div>
                </div>
            <!--7-->
                <div class="col-md-6 col-lg-4">
                    <div class="card h-100">
                        <img
                                src="https://static.hdrezka.ac/i/2024/9/2/u58ac0fe6fca3nz14d73u.jpg"
                                class="card-img-top"
                                alt="not found"
                        >
                        <div class="card-body">
                            <h4 class="card-title fw-bold">
                                Это всё Агата (2024)
                            </h4>
                            <a href="https://hdrezka-home.tv/series/fiction/72411-eto-vse-agata-2024.html" class="btn btn-outline-danger">
                                Смотреть
                            </a>
                        </div>
                    </div>
                </div>
            <!--8-->
                <div class="col-md-6 col-lg-4">
                    <div class="card h-100">
                        <img
                                src="https://static.hdrezka.ac/i/2025/3/2/u53098aadf64ftr38p88s.jpg"
                                class="card-img-top"
                                alt="not found"
                        >
                        <div class="card-body">
                            <h4 class="card-title fw-bold">
                                Ваш дружелюбный сосед Человек-паук (2025)
                            </h4>
                            <a href="https://hdrezka-home.tv/cartoons/adventures/76715-druzhelyubnyy-sosed-chelovek-pauk-2025.html" class="btn btn-outline-danger">
                                Смотреть
                            </a>
                        </div>
                    </div>
                </div>
            <!--9-->
                <div class="col-md-6 col-lg-4">
                    <div class="card h-100">
                        <img
                                src="https://static.hdrezka.ac/i/2025/2/2/w0a03d00884a4ej97s47h.jpg"
                                class="card-img-top"
                                alt="not found"
                        >
                        <div class="card-body">
                            <h4 class="card-title fw-bold">
                                Капитан Америка: Новый мир (2025)
                            </h4>
                            <a href="https://hdrezka-home.tv/films/fiction/72539-kapitan-amerika-novyy-mir-2025-latest.html" class="btn btn-outline-danger">
                                Смотреть
                            </a>
                        </div>
                    </div>
                </div>
            <!--10-->
                <div class="col-md-6 col-lg-4">
                    <div class="card h-100">
                        <img
                                src="https://static.hdrezka.ac/i/2026/5/7/g1b020059fd7ehi75j37b.jpg"
                                class="card-img-top"
                                alt="not found"
                        >
                        <div class="card-body">
                            <h4 class="card-title fw-bold">
                                Сорвиголова: Рождённый заново (2025)
                            </h4>
                            <a href="https://hdrezka-home.tv/series/action/76899-sorvigolova-rozhdennyy-zanovo-2025-latest.html" class="btn btn-outline-danger">
                                Смотреть
                            </a>
                        </div>
                    </div>
                </div>
            <!--11-->
                <div class="col-md-6 col-lg-4">
                    <div class="card h-100">
                        <img
                                src="https://static.hdrezka.ac/i/2025/7/19/y41b75004edeetl70d44q.jpg"
                                class="card-img-top"
                                alt="not found"
                        >
                        <div class="card-body">
                            <h4 class="card-title fw-bold">
                                Громовержцы* (2025)
                            </h4>
                            <a href="https://hdrezka-home.tv/films/fiction/73911-gromoverzhcy-2025-latest.html" class="btn btn-outline-danger">
                                Смотреть
                            </a>
                        </div>
                    </div>
                </div>
            <!--12-->
                <div class="col-md-6 col-lg-4">
                    <div class="card h-100">
                        <img
                                src="https://static.hdrezka.ac/i/2025/5/16/c4b1a9f4e2adcxe58u89b.jpg"
                                class="card-img-top"
                                alt="not found"
                        >
                        <div class="card-body">
                            <h4 class="card-title fw-bold">
                                Железное Сердце (2025)
                            </h4>
                            <a href="https://hdrezka-home.tv/series/fiction/79670-zheleznoe-serdce-2025-latest.html" class="btn btn-outline-danger">
                                Смотреть
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="p-4 text-center text-white" style="background-color: #800020;">
        <h3 class="fw-bold">Приятного просмотра!</h3>
    </div>
</body>
</html>